body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: #0f172a;
	font-family: Arial, sans-serif;
}

header {
	position: sticky;
	width: 100%;
	top: 20px;
	bottom: 10px;
	display: flex;
	justify-content: center;
	background: #0f172a;
	z-index: 1000;
}

main {
	flex: 1;
	/* take remaining height */
	display: flex;
	justify-content: center;
	/* horizontal center */
	align-items: center;
	/* vertical center */
	overflow: hidden;
}

.fancy-btn {
	padding: 5px 40px;
	font-size: 40px;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background: linear-gradient(45deg, #6a5af9, #00d4ff);
	box-shadow: 0 0 20px rgba(0, 212, 255, 0.6);
	transition: all 0.3s ease;
	position: relative;
	overflow: hidden;
}

.fancy-btn:hover {
	transform: translateY(-4px);
	box-shadow: 0 0 35px rgba(0, 212, 255, 0.9);
}

.fancy-btn:active {
	transform: scale(0.95);
}

.fancy-btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: -75%;
	width: 50%;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
	transform: skewX(-20deg);
	transition: 0.6s;
}

.fancy-btn:hover::before {
	left: 130%;
}